.navbar {
  background-color: transparent;
  padding: 8px 20px;
  min-height: 60px;
  transition: all 0.3s;

  .navbar-brand {
    font-weight: 600;
    // color: var(--app-orange);
    color: #fff;
    font-family: "Fascinate", system-ui;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .nav-item {
    .nav-link {
      color: #fff;
      font-weight: 500;
    }
  }
}

.big-widget-height {
  min-height: 150px !important;
  transition: all 0.3s;
}

.scrolled {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s;

  .navbar-brand {
    color: var(--app-orange);
  }

  .nav-link {
    color: #212121 !important;
  }
}
