.navbar {
  background-color: transparent;
  padding: 8px 20px;
  min-height: 60px;
  transition: all 0.3s;
  align-items: baseline;

  &::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    // background-color: #0002;
    backdrop-filter: blur(3px);
    transition: all 0.3s ease-in-out;
  }

  .navbar-brand {
    font-weight: 600;
    // color: var(--app-orange);
    color: #fff;
    font-family: "Fascinate", system-ui;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .nav-item {
    margin: 0 10px;
    z-index: 2;
    .nav-link {
      color: #fff;
      font-weight: 500;
    }
  }
}

.widget {
  left: 5%;
  z-index: 0;
  flex-basis: auto;
  flex-grow: 1;
}

.big-widget-height {
  min-height: 165px !important;
  transition: all 0.5s ease-in-out;
  background-color: #fff;

  &::after {
    content: "";
    position: absolute;
    top: 165px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
  }
}

.scrolled {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s;

  .navbar-brand {
    color: var(--app-orange);
  }

  .nav-link {
    color: #212121 !important;
  }
}

@media (max-width: 1100px) {
  .widget {
    left: 0;
    z-index: 0;
  }
}

@media (max-width: 770px) {
}
