.property-detail {
  padding: 12vh 0 10vh;

  .container {
    min-width: 90%;
  }

  h3 {
    font-weight: 600;
    color: #3c4043;
    margin-bottom: 0;
  }

  .sub-section-title {
    display: block;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #3c4043;
  }

  .breadcrumb {
    padding-top: 5px;
    padding-left: 5px;

    .item {
      color: #3c4043;
      font-size: 0.9rem;
      font-weight: 600;

      &:hover {
        a {
          color: var(--app-orange);
          text-decoration: underline;
          text-underline-offset: 2px;
          cursor: pointer;
        }
      }

      a {
        color: #3c4043;
      }

      .icon {
        font-size: 0.75rem;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }

  .property {
    .actions {
      .btn {
        margin-right: 10px;
        text-decoration: underline;
        text-underline-offset: 2px;
        font-size: 0.96rem;
        background-color: transparent;
        transition: all 0.2s;
        color: #3c4043 !important;

        &:hover {
          background-color: #f1f1f1;
        }

        .icon {
          margin-right: 10px;
        }
      }
    }

    .property-photos {
      text-align: center;
      margin-bottom: 20px;
      width: 150px;

      .image {
        margin-right: 10px;
        margin-bottom: 10px;
        display: block;
      }

      img {
        width: 100%;
        // width: calc((100% / 5) - 10px);
        height: 80px;
        border-radius: 12px;
        object-fit: cover;
        border: 2px solid #e1e1e1;
        cursor: pointer;

        &:hover {
          border: 2px solid #3c4043;
        }
      }
    }

    .property-content {
      padding-top: 10px;
      padding-left: 10px;

      .not-available {
        color: #d11a2a;
        display: block;
        margin-bottom: 5px;
      }

      .title {
        font-weight: 600;
        color: #3c4043;
        margin-bottom: 5px;
        // margin-left: -4px;
      }

      .price,
      .rooms {
        font-size: 0.9rem;
        font-weight: 600;
        color: #3c4043;
        margin-bottom: 10px;
        display: inline-block;
      }

      .price {
        background-color: var(--app-orange);
        padding: 3px 10px;
        border-radius: 20px;
        color: #fff;
        font-weight: 700;
      }

      .description {
        text-align: justify;
      }

      .amenities {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin: 20px 0;
        padding: 20px 0;

        .amenity-item {
          padding: 3px 10px;
          margin-bottom: 7px;
          font-size: 0.9rem;
          display: block;

          .icon {
            font-size: 1rem;
            margin-right: 10px;
          }
        }

        .more-toggle {
          text-decoration: underline;
          text-underline-offset: 2px;
          cursor: pointer;
          font-size: 0.9rem;
          color: #3c4043;
        }
      }


      .contact-request {
        .sub-section-title {
          margin-bottom: 5px;
        }

        .desc {
          display: block;
          margin-bottom: 15px;
          text-align: justify;
        }

        .btn-inquire {
          background-color: #f08121;
          color: #fff;
          width: 60%;
          display: block;
          // margin: 20px auto;
          font-weight: 700;
          font-size: 1rem;
          letter-spacing: 1px;
        }
      }
    }

    .map-content {
      border-top: 1px solid #e1e1e1;
      margin-top: 5vh;
      padding-top: 5vh;

      .map-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #3c4043;
        margin-bottom: 5px;
      }

      .map-desc {
        display: block;
        margin-bottom: 20px;
      }
    }

    .map-container {
      height: 400px;
    }
  }
}

#imagesModal {
  backdrop-filter: blur(5px);
  // background-color: #0005;
  min-height: 100vh;
  min-width: 100vw;

  .modal-content {
    background-color: transparent !important;
    border: none;

    .carousel-control-prev {
      left: -80px;
      width: 90px;
    }

    .carousel-control-next {
      right: -80px;
      width: 90px;
    }

    .navigation-icon {
      font-size: 2rem;
      color: #fff;
    }

    .carousel-item {
      // transition: transform 0.2s !important;
    }

    img {
      border-radius: 8px;
      width: 100%;
      height: auto;
      max-height: 80vw;
      object-fit: contain;
    }
  }
}

#userActionModal {
  .form-group {
    margin-bottom: 10px;

    label {
      font-weight: 600;
      color: #05070a;
      font-size: 0.9rem;
      margin-bottom: 5px;
    }

    ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #80868b !important;
      /* Firefox */
    }
  }
}
