<div class="container-fluid property-detail">
	<div class="property">
		<div class="container">

			<div class="d-flex justify-content-between mb-2">
				<div>
					<div class="breadcrumb">
						<div class="item"
							[appTooltip]="!first ? 'View properties in ' + breadcrumb : 'Browse all properties'"
							*ngFor="let breadcrumb of property?.breadcrumbs;index as i;last as last;first as first">
							<a> {{breadcrumb}} </a>
							<span [hidden]="last" class="icon"><i class="fa-solid fa-angle-right"></i></span>
						</div>
					</div>
				</div>
				<div class="actions">
					<button class="btn btn-share" [appTooltip]="!isCopied ? 'Copy link' : 'Copied !'"
						(click)="copyLink()" (mouseleave)="isCopied = false">
						<span class="icon"><i class="fa-solid fa-arrow-up-from-bracket"></i></span>
						share
					</button>
					<button class="btn btn-bookmark">
						<span class="icon"><i class="fa-regular fa-bookmark"></i></span>
						save
					</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-lg-12 col-xl-8">
					<div class="d-flex">
						<div class="property-photos hidden d-md-block">
							<div class="image" appTooltip="View in full" [tooltipDelay]="1000"
								[tooltipPosition]="'left'" *ngFor="let image of property.imageUrl;index as i"
								(click)="currentImageIndex = i" data-bs-toggle="modal" data-bs-target="#imagesModal">
								<img [src]="image" alt="property image">
							</div>
						</div>

						<ng-container>
							<app-vr-iframe class="w-100" [iframeLink]="property.iframeUrl"></app-vr-iframe>
						</ng-container>
					</div>


				</div>

				<div class="col-md-12 col-lg-12 col-xl-4">
					<div class="property-content">
						<small class="not-available">* Currently unavailable</small>
						<h4 class="title">
							{{ (property.name?.length ? property.name : property.type) + " in " + property.location }}
						</h4>
						<div class="d-inline">
							<span class="price">
								{{ 'KES ' + (property.price | figureFormatter)}}
								<span class="fw-normal" *ngIf="property.isRental">&nbsp;/ month</span></span>
							<span class="rooms ms-3"> {{property.rooms + " BR"}} </span>
						</div>
						<p class="description"> {{property.description}} </p>


						<div class="amenities" >
							<span class="sub-section-title">Amenities</span>

							<div class="row">
								<div class="col-6 col-lg-4 col-xl-6" *ngFor="let amenity of property.amenities.slice(0, (showMore ? property.amenities?.length : 8))">
									<span class="amenity-item">
										<span class="icon"><i [class]="amenity.icon"></i></span>
										<span> {{amenity.amenity}} </span>
									</span>
								</div>
							</div>

							<span class="more-toggle d-block text-end" (click)="showMore = ! showMore">Show {{showMore ? 'less' : 'more'}} </span>
						</div>

						<div class="contact-request">

							<span class="form-desc">

								<span class="sub-section-title">Leave your contact</span>
								<span class="desc">
									Your details help us keep you informed.
									We’ll only reach out so we can send you relevant updates, alerts or answers to your
									inquiry.
									<br class="d-block d-lg-none d-xl-block">
									No spam, just the info you care about.
								</span>

							</span>

							<button class="btn btn-inquire" data-bs-toggle="modal" data-bs-target="#userActionModal">
								{{property.availability ? 'I’m Interested' : 'Alert Me When Available' }}
							</button>




						</div>

					</div>

				</div>
			</div>


			<div class="map-content">
				<h4 class="map-title">Property location</h4>
				<span class="map-desc">The current property marked in <strong class="orange-text">orange</strong>.
					Explore more properties directly on
					the map, tap property to see more details.</span>

				<div class="map-container" *ngIf="showMap">
					<app-map-widget></app-map-widget>
				</div>
			</div>



		</div>
	</div>
</div>




<!-- Modal -->
<div class="modal fade" id="imagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<!-- <div class="modal-header bor">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div> -->
			<div class="modal-body">
				<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel"
					data-bs-touch="true">
					<div class="carousel-inner">
						<div class="carousel-item" [ngClass]="{'active':currentImageIndex === i}"
							*ngFor="let imgUrl of property.imageUrl;index as i; first as isFirst" data-interval="4000">
							<img [src]="imgUrl" class="d-block w-100" alt="photo">
						</div>
					</div>

					<div class="d-none d-md-block">
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="prev">
							<span class="navigation-icon"> <i class="fa-solid fa-circle-chevron-left"></i>
							</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
							data-bs-slide="next">
							<span class="navigation-icon"> <i class="fa-solid fa-circle-chevron-right"></i>
							</span>
						</button>
					</div>

					<div class="d-block d-md-none">
						<div class="carousel-ms-buttons">

							<button class="btn carousel-prev" type="button" data-bs-target="#carouselExampleControls"
								data-bs-slide="prev">
								Previous
							</button>
							<button class="btn carousel-next" type="button" data-bs-target="#carouselExampleControls"
								data-bs-slide="next">
								Next
							</button>
						</div>
					</div>

				</div>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> -->
		</div>
	</div>
</div>







<div class="modal fade" id="userActionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal- modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title"> Contact details </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
					id="closeUserActionModal"></button>
			</div>
			<div class="modal-body p-4">
				<!-- 	
					<div class="alert alert-danger" *ngIf="userActionFail" [@fadeIn]>
						<strong>Failed to {{action | lowercase}} user! </strong> {{errorMessage}}.
					</div> -->

				<!-- <small class="request-desc">
					We’ll only reach out so we can send you relevant updates, alerts or answers to your
					inquiry.
				</small> -->

				<div class="row">
					<div class="form-group">
						<label for="">Name</label>
						<input type="text" class="form-control" name="name" [(ngModel)]="user.name"
							placeholder="eg : John Doe" autocomplete="off">
					</div>

					<div class="form-group">
						<label for="">Mobile number</label>
						<!-- <small class="label-desc">Required for login via OTP</small> -->
						<input type="text" class="form-control" placeholder="eg : 254703******" name="msisdn"
							[(ngModel)]="user.msisdn" pattern="[0-9]*" inputmode="numeric"
							oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" />
					</div>

					<div class="form-group">
						<label for="">Email address
							<small class="red-text fw-normal fst-italic ms-2" *ngIf="emailInvalid" [@fadeIn]>Email is
								invalid</small>
						</label>
						<div class="position-relative">
							<input type="text" class="form-control" name="email" [(ngModel)]="user.email"
								(ngModelChange)="emailInvalid = false" (ngModelDebounceChange)="validateEmail()"
								[ngModelOptions]="{standalone: true}" placeholder="eg : johndoe@gmail.com"
								autocomplete="off">
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Cancel</button>

				<button type="button" class="btn btn-submit" (click)="submitForm()" [disabled]="submitting">{{submitting
					? 'Submitting ...' : 'Submit' }}</button>
			</div>
		</div>
	</div>
</div>