.landing-section {
  height: 550px;
  padding-top: 7vh;
  position: relative;

  background-image: linear-gradient(to bottom, #000, #0002 70%),
    url("../../../../assets/images/bg-two.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover, 105%;
  background-position: center;
  //   background-attachment: fixed;

  .content {
    text-align: center;

    .desc {
      display: block;
      font-size: 1.2rem;
      font-weight: 600;
      color: #f1f1f1;
      margin-bottom: 10px;
    }
    h1 {
      font-size: 4rem;
      line-height: 5rem;
      // font-weight: 600;
      color: #fff;
      margin-bottom: 10vh;
      // font-family: "Montserrat", sans-serif;
    }
  }
}

.property-listing {
  padding: 5vh 20px;

  .listing-title {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 5px;
  }

  .view-all {
    color: #5f6063;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;

    i {
      font-size: 0.8rem;
    }
  }

  .property-item {
    position: relative;
    top: 0;
    border: 2px solid #fff;
    transition: all 0.2s ease-in-out;
    margin-bottom: 5vh;

    &:hover {
      top: -10px;
      transition: all 0.1s;

      .image-holder {
        img {
          border: 3px solid var(--app-orange);
        }
      }

      .property-content-wrapper {
        // backdrop-filter: blur(0);
      }
    }

    .property-bookmark {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;

      .icon {
        position: absolute;
        top: 7px;
        right: 14px;
        font-size: 1.3rem;
        z-index: 10;
        color: #3c4043;
      }

      img {
        position: absolute;
        width: 50px;
        top: 3px;
        right: 3px;
        color: #fff;
        transform: rotate(270deg);
        z-index: 5;
        border-radius: 0 0 16px 0;
      }
    }

    .image-holder {
      width: 100%;
      height: 370px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        border-radius: 20px;
        overflow: hidden;
        border: 3px solid #fff;

        transition: all 0.3s;
      }
    }
    .property-content-wrapper {
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: end;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        5deg,
        #fff 5%,
        #fff5 28%,
        transparent 40%
      );
      mask: linear-gradient(to bottom, transparent, #000 90%);
      //   mask: linear-gradient(black, black, transparent);
      backdrop-filter: blur(1px);
      transition: all 0.2s;

      .property-content {
        padding: 10px 15px;
        width: 100%;
        color: #212121;

        .property-title {
          font-size: 0.9rem;
          font-weight: 600;
        }

        .property-price,
        .property-rooms {
          padding: 3px 12px;
          border-radius: 12px;
          font-size: 0.8rem;
          font-weight: 600;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          line-height: 1rem;
        }

        .property-price {
          background-color: #000;
          color: #fff;
          backdrop-filter: blur(1px);
        }

        .property-rooms {
          background-color: #fff9;
        }
      }
    }
  }
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  // column-gap: 15px;
  justify-content: space-evenly;

  .grid-item {
    place-self: center;
  }
}

@media (max-width: 1700px) {
}

@media (max-width: 1500px) {
  body {
    zoom: 90%;
  }
}

@media (max-width: 1370px) {
  .grid-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
  }
}

@media (max-width: 770px) {
}
