<div class="container-fluid">

	<!-- LANDING SECTION  -->
	<main class="landing-section">
		<div class="container">
			<div class="content">
				<span class="desc">Step inside your next Home</span>
				<h1>See It. Feel It. Live It.</h1>
				<!-- <p>
					Explore properties built around your life, not just your budget with our virtual walkthroughs that
					bring spaces to life.
				</p> -->
			</div>

			<app-search-widget></app-search-widget>
		</div>
	</main>

	<div class="property-listing">

		<h4 class="listing-title">Featured homes </h4>
		<a class="view-all">View all <span class="ms-2"><i class="fa-solid fa-arrow-right"></i></span></a>

		<div class="grid-box">
			@for (property of properties; track $index) {
			<div class="grid-item">
				<!-- *ngFor="let property of properties;index as i" -->
				<div class="card property-item">

					<div class="property-bookmark">
						<div class="position-relative">
							<span class="icon"><i class="fa-regular fa-bookmark"></i></span>
							<img src="assets/images/curvy-edge.svg" alt="icon-bg">
						</div>
					</div>

					<div class="image-holder">
						<img [src]="property.imageUrl" alt="photo">
					</div>

					<a class="property-content-wrapper"
						[routerLink]="['/property',(property.id ?? 1),slugify((property.name?.length ? property.name : property.type) + ' in ' + property.location)]">
						<div class="property-content">
							<h5 class="property-title">
								{{ (property.name?.length ? property.name : property.type) + " in " + property.location
								}}
							</h5>
							<div class="d-flex justify-content-between align-items-center">
								<span class="property-price">
									<!-- {{ property.price | currency: '' + 'KES ':'symbol':'1.0-0'}} -->
									{{ 'KES ' + (property.price | figureFormatter)}}
									<span class="fw-normal" *ngIf="property.isRental">&nbsp;/month</span>
								</span>
								<span class="property-rooms" [title]="property.rooms + ' Bedroom ' + property.type">
									{{property.rooms + " BR"}} </span>
							</div>
						</div>
					</a>

				</div>
			</div>
			}
		</div>

	</div>

</div>